addons/*
admin/*
autoload.php
fraud/*
gateways/*
index.php
notifications/*
registrars/*
reports/*
security/*
social/*
support/*
widgets/*

servers/autorelease/*
servers/centovacast/*
servers/cloudmin/*
servers/cpanel/*
servers/directadmin/*
servers/enomssl/*
servers/gamecp/*
servers/globalsignssl/*
servers/globalsignvouchers/*
servers/heartinternet/*
servers/helm/*
servers/helm4/*
servers/hypervm/*
servers/interworx/*
servers/ispapissl-modified/*
servers/ispapissl-old/*
servers/licensing/*
servers/lxadmin/*
servers/marketconnect/*
servers/mediacp/*
servers/plesk/*
servers/resellercentral/*
servers/resellerclubssl/*
servers/scpanel/*
servers/tcadmin/*
servers/veportal/*
servers/virtualmin/*
servers/vpsnet/*
servers/websitepanel/*
servers/whmsonic/*
servers/xpanel/*

# PHPStorm
.idea

# Composer
composer.phar
composer.lock
vendor/*

# npm
node_modules
package-lock.json

# Coverage Reporting
report

# Generated Archives
pkg