parameters:
    level: 8
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - .
    scanFiles:
    scanDirectories:
        - addons
        - servers
        - tests
    excludes_analyse:
        - node_modules
        - servers/ispapissl/vendor
        - build
        - tests
    bootstrapFiles:
        - tests/_bootstrap.phpstan.php
        - servers/ispapissl/vendor/autoload.php
    ignoreErrors:
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$(autosetup|code|status|remoteid|id|gid)#'
            paths:
                - addons/ispapissl_addon/ispapissl_addon.php
                - servers/ispapissl/ispapissl.php
                - servers/ispapissl/lib/SSLHelper.php
