parameters:
    level: 8
    fileExtensions:
        - php
        - module
        - inc
    paths:
        - ../..
    excludePaths:
        - ../../modules/servers/cnicssl/vendor
    bootstrapFiles:
        - /var/www/html/whmcs/includes/functions.php
        - /var/www/html/whmcs/includes/adminfunctions.php
        - /var/www/html/whmcs/modules/registrars/ispapi/lib/Ispapi.php
        - /var/www/html/whmcs/modules/registrars/keysystems/lib/APIClient.php
        - ../../modules/servers/cnicssl/vendor/autoload.php
    ignoreErrors:
        -
            message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$(autosetup|code|status|remoteid|id|gid)#'
            paths:
                - ../../modules/addons/cnicssl_addon/cnicssl_addon.php
                - ../../modules/servers/cnicssl/cnicssl.php
                - ../../modules/servers/cnicssl/lib/SSLHelper.php
        - '#Access to an undefined property object::#'
        - '#Parameter \#2 \$callback of function array_walk expects callable#'
